<div id="background">
  <div class="wrapper-wide">
    <header>
      <a id="logo" href="#">Logo</a>
    </header>
  </div>
  <div class="wrapper-skinny">
    <h1>Shedric Mcgill C.P.A. <br>
      Serving Houston over 20 years.</h1>
    <a href="#" class="button button-dark">Appointment</a>
    <a href="" class="button button-highlight">Contact Us</a>
  </div>
</div>
